#jinja2: trim_blocks:False
# {{ ansible_managed }}
api:
  insecure: true
  dashboard: {{ podman_traefik_dashboard }}
http:
  routers:
    {%- if podman_traefik_dashboard %}
    dashboard:
      rule: PathPrefix("/dashboard")
      service: api@internal
    {%- endif %}
entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 192.168.0.0/16
        - 127.16.0.0/12
        - 10.0.0.0/8
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
