#jinja2: trim_blocks:False
# {{ ansible_managed }}
api:
  insecure: true
  dashboard: {{ traefik_dashboard }}

http:
  routers:
    {%- if traefik_dashboard %}
    dashboard:
      rule: PathPrefix("/dashboard")
      service: api@internal
    {%- endif %}

entryPoints:
  {%- if traefik_http %}
  web:
    address: ":80"
    {%- if traefik_http_proxies %}
    forwardedHeaders:
      trustedIPs:
      {%- for proxy in traefik_http_proxies %}
        - {{ proxy }}
      {%- endfor -%}
    {% endif %}
  {% endif %}

  {%- if traefik_https %}
  websecure:
    address: ":443"
    http:
      tls: {}
    {% if traefik_https_proxies %}
    forwardedHeaders:
      trustedIPs:
      {%- for proxy in traefik_https_proxies %}
        - {{ proxy }}
      {%- endfor -%}
    {% endif %}
  {% endif %}
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
